<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur"/>
  <!-- parameters -->
  <xacro:arg name="arm_prefix" default="" />

  <xacro:include filename="$(find mr_config)/srdf/universal_robots/ur_macro.srdf.xacro"/>

  <xacro:ur_srdf name="$(arg name)" prefix="$(arg arm_prefix)" tool_tip="suction_tool_tip"/>

  <disable_collisions link1="$(arg arm_prefix)suction_tool_tip" link2="picking_box" reason="Never" />
  <disable_collisions link1="$(arg arm_prefix)pj_tool_tip" link2="picking_box" reason="Never" />
  <disable_collisions link1="$(arg arm_prefix)suction_tool_tip" link2="picked_obj" reason="Never" />
  <disable_collisions link1="$(arg arm_prefix)pj_tool_tip" link2="picked_obj" reason="Never" />
  <disable_collisions link1="gripper_with_suction" link2="picking_box" reason="Never" />
  <disable_collisions link1="gripper_no_suction" link2="picking_box" reason="Never" />
  <disable_collisions link1="gripper_with_suction" link2="picked_obj" reason="Never" />
  <disable_collisions link1="gripper_no_suction" link2="picked_obj" reason="Never" />
  

</robot>
