<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur"/>
  <!-- parameters -->
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find mr_config)/srdf/universal_robots/ur_macro.srdf.xacro"/>

  <xacro:ur_srdf name="$(arg name)" prefix="$(arg prefix)" tool_tip="suction_tool_tip"/>

</robot>
